In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/allisonhorst/palmerpenguins/1a19e36ba583887a4630b1f821e3a53d5a4ffb76/data-raw/penguins_raw.csv')

In [28]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [29]:
if len(df) > 0:
    print(f'Length of df {len(df)}, number of columns {len(df.columns)}, shape of df {df.shape}, number of elements {df.size}')
else:
    print(f'DF is empty')

Length of df 344, number of columns 17, shape of df (344, 17), number of elements 5848

In [30]:
print(df.memory_usage(deep=True))

Index                    128
studyName              22016
Sample Number           2752
Species                31808
Region                 21672
Island                 21704
Stage                  25800
Individual ID          21294
Clutch Completion      20604
Date Egg               23048
Culmen Length (mm)      2752
Culmen Depth (mm)       2752
Flipper Length (mm)     2752
Body Mass (g)           2752
Sex                    21021
Delta 15 N (o/oo)       2752
Delta 13 C (o/oo)       2752
Comments               14311
dtype: int64

In [31]:
print(df.head())

  studyName  Sample Number                              Species  Region  \
0   PAL0708              1  Adelie Penguin (Pygoscelis adeliae)  Anvers
1   PAL0708              2  Adelie Penguin (Pygoscelis adeliae)  Anvers
2   PAL0708              3  Adelie Penguin (Pygoscelis adeliae)  Anvers
3   PAL0708              4  Adelie Penguin (Pygoscelis adeliae)  Anvers
4   PAL0708              5  Adelie Penguin (Pygoscelis adeliae)  Anvers

      Island               Stage Individual ID Clutch Completion    Date Egg  \
0  Torgersen  Adult, 1 Egg Stage          N1A1               Yes  2007-11-11
1  Torgersen  Adult, 1 Egg Stage          N1A2               Yes  2007-11-11
2  Torgersen  Adult, 1 Egg Stage          N2A1               Yes  2007-11-16
3  Torgersen  Adult, 1 Egg Stage          N2A2               Yes  2007-11-16
4  Torgersen  Adult, 1 Egg Stage          N3A1               Yes  2007-11-16

   Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  Body Mass (g)  \
0                39.1               18.7                181.0         3750.0
1                39.5               17.4                186.0         3800.0
2                40.3               18.0                195.0         3250.0
3                 NaN                NaN                  NaN            NaN
4                36.7               19.3                193.0         3450.0

      Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0    MALE                NaN                NaN
1  FEMALE            8.94956          -24.69454
2  FEMALE            8.36821          -25.33302
3     NaN                NaN                NaN
4  FEMALE            8.76651          -25.32426

                         Comments
0  Not enough blood for isotopes.
1                             NaN
2                             NaN
3              Adult not sampled.
4                             NaN

In [32]:
keep_cols = ['Species', 'Region', 'Island', 'Culmen Length (mm)', 'Culmen Depth (mm)', 
             'Flipper Length (mm)', 'Body Mass (g)', 'Sex']

df = df.loc[:,keep_cols]

In [38]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Region               344 non-null    object
 2   Island               344 non-null    object
 3   Culmen Length (mm)   342 non-null    float64
 4   Culmen Depth (mm)    342 non-null    float64
 5   Flipper Length (mm)  342 non-null    float64
 6   Body Mass (g)        342 non-null    float64
 7   Sex                  334 non-null    object
dtypes: float64(4), object(4)
memory usage: 104.8 KB

In [41]:
print(df.isna().sum())

Species                 0
Region                  0
Island                  0
Culmen Length (mm)      2
Culmen Depth (mm)       2
Flipper Length (mm)     2
Body Mass (g)           2
Sex                    10
dtype: int64

In [45]:
df['Sex'].fillna('Unknown', inplace=True)

In [46]:
df.dropna(inplace=True)

In [50]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 343
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              342 non-null    object
 1   Region               342 non-null    object
 2   Island               342 non-null    object
 3   Culmen Length (mm)   342 non-null    float64
 4   Culmen Depth (mm)    342 non-null    float64
 5   Flipper Length (mm)  342 non-null    float64
 6   Body Mass (g)        342 non-null    float64
 7   Sex                  342 non-null    object
dtypes: float64(4), object(4)
memory usage: 107.1 KB

In [52]:
print(df['Species'].unique())

['Adelie Penguin (Pygoscelis adeliae)' 'Gentoo penguin (Pygoscelis papua)'
 'Chinstrap penguin (Pygoscelis antarctica)']